.statistics-card{
    text-align: start;
    border-radius: 5px;
    background-color: #fff;
    padding: 0 1rem 1rem 1rem;
    z-index: 1;
    
}

.statistics-card .statisctic-img-container{
    width: 80px;
    height: 80px;
    display: grid;
    border-radius: 50%;
    background-color: var(--primary-2);
    position: relative;
    transform: translateY(-50%)translateX(50%);
    

}

.statisctic-img-container img{
    align-self: center;
    justify-self: center;
    width: 40px;
    height: 40px;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
    grid-template-rows: repeat(8,1fr);
    margin-top: 5rem;
    padding-bottom: 5rem;
}

.column-1{
    grid-row: 1 / span 6;
}
.column-2{
    grid-row: 2 / span 6;
}
.column-3{
    grid-row: 3 / span 6;
}



.line{
    position: relative;
    z-index: 0;
    width: 100%;
    height: .5rem;
    background-color: var(--primary-1);
    top: 250px;
}